.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    7px -8px 22px -5px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 10px 13px -7px #000000, 7px -8px 22px -5px rgba(0, 0, 0, 0.04);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-style: 15px;
  font-weight: 500;
  margin: 0px 10px;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 20px 0;
}

.postImg {
  width: 100%;
  margin-top: 20px;
  max-height: 500px;
  /* contain will set whole image vs cover will crop image*/
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 5px;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  font-size: 15px;
  cursor: pointer;
  border-bottom: 1px dashed gray;
}
